# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [8]:
# Your code goes here

#we choose option one, combine the 3 data sets and cleaning them

import pandas as pd

# Load the three datasets
file1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
file2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [13]:
# Inspect the columns in each dataset
print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')
Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [10]:
# Standardize column names (if needed, e.g., stripping spaces or converting to lowercase)
file1.columns = file1.columns.str.strip().str.lower()
file2.columns = file2.columns.str.strip().str.lower()
file3.columns = file3.columns.str.strip().str.lower()

In [11]:
# Combine the datasets
combined_data = pd.concat([file1, file2, file3], ignore_index=True)
print(combined_data.columns)  # Check combined columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount', 'state'],
      dtype='object')

In [14]:
# Function to clean the data
def clean_data(df):
    # Step 1: Drop irrelevant columns
    if 'customer' in df.columns:
        df = df.drop(columns=['customer'])

    # Step 2: Merge 'st' and 'state' into one column
    if 'st' in df.columns:
        df['state'] = df['state'].combine_first(df['st'])
        df = df.drop(columns=['st'])
    
    # Step 3: Clean 'customer lifetime value' column
    if 'customer lifetime value' in df.columns:
        df['customer lifetime value'] = df['customer lifetime value'].replace({'%': ''}, regex=True)  # Remove %
        df['customer lifetime value'] = pd.to_numeric(df['customer lifetime value'], errors='coerce').fillna(0).astype(int)
    
    # Step 4: Fill missing values for 'income', 'monthly_premium_auto', and 'total_claim_amount'
    if 'income' in df.columns:
        df['income'] = df['income'].fillna(df['income'].median()).astype(int)

    if 'monthly premium auto' in df.columns:
        df['monthly premium auto'] = df['monthly premium auto'].fillna(df['monthly premium auto'].median()).astype(int)

    if 'total claim amount' in df.columns:
        df['total claim amount'] = df['total claim amount'].fillna(df['total claim amount'].median()).astype(float)
    
    # Step 5: Clean 'number of open complaints'
    if 'number of open complaints' in df.columns:
        df['number of open complaints'] = df['number of open complaints'].replace({'/.*': ''}, regex=True)
        df['number of open complaints'] = pd.to_numeric(df['number of open complaints'], errors='coerce').fillna(0).astype(int)

    # Step 6: Fill missing categorical values with 'Unknown'
    categorical_columns = ['state', 'gender', 'education', 'policy type', 'vehicle class']
    for col in categorical_columns:
        if col in df.columns:
            df[col] = df[col].fillna('Unknown')

    return df

# Apply the cleaning function to the combined data
cleaned_data = clean_data(combined_data)

# Check the result after cleaning
print(cleaned_data.info())
print(cleaned_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     12074 non-null  object
 1   education                  12074 non-null  object
 2   customer lifetime value    12074 non-null  int64
 3   income                     12074 non-null  int64
 4   monthly premium auto       12074 non-null  int64
 5   number of open complaints  12074 non-null  int64
 6   policy type                12074 non-null  object
 7   vehicle class              12074 non-null  object
 8   total claim amount         12074 non-null  float64
 9   state                      12074 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 943.4+ KB
None
    gender             education  customer lifetime value  income  \
0  Unknown                Master                        0       0
1        F              Bachelor                   697953       0
2        F              Bachelor                  1288743   48767
3        M              Bachelor                   764586       0
4        M  High School or Below                   536307   36357

   monthly premium auto  number of open complaints     policy type  \
0                  1000                          1   Personal Auto
1                    94                          1   Personal Auto
2                   108                          1   Personal Auto
3                   106                          1  Corporate Auto
4                    68                          1   Personal Auto

   vehicle class  total claim amount       state
0  Four-Door Car            2.704934  Washington
1  Four-Door Car         1131.464935     Arizona
2   Two-Door Car          566.472247      Nevada
3            SUV          529.881344  California
4  Four-Door Car           17.269323  Washington

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [15]:
# Your code goes here

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Display basic information about the dataset
print(df.info())

# Show a preview of the first few rows
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [16]:
#cleaning the data

# Drop the unnamed column
df_clean = df.drop(columns=['unnamed:_0'])

# Convert the 'effective_to_date' column to datetime format
df_clean['effective_to_date'] = pd.to_datetime(df_clean['effective_to_date'])

# Rename columns to standardize the naming
df_clean.columns = df_clean.columns.str.lower().str.replace(' ', '_')

# Check for missing values
print(df_clean.isnull().sum())

# Show the cleaned dataframe information and first few rows
print(df_clean.info())
print(df_clean.head())

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  datetime64[ns]
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
 24  vehicle_type                   10910 non-null  object
 25  month                          10910 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.2+ MB
None
  customer       state  customer_lifetime_value response  coverage education  \
0  DK49336     Arizona              4809.216960       No     Basic   College
1  KX64629  California              2228.525238       No     Basic   College
2  LZ68649  Washington             14947.917300       No     Basic  Bachelor
3  XL78013      Oregon             22332.439460      Yes  Extended   College
4  QA50777      Oregon              9025.067525       No   Premium  Bachelor

  effective_to_date employmentstatus gender  income  ... number_of_policies  \
0        2011-02-18         Employed      M   48029  ...                  9
1        2011-01-18       Unemployed      F       0  ...                  1
2        2011-02-10         Employed      M   22139  ...                  2
3        2011-01-11         Employed      M   49078  ...                  2
4        2011-01-17    Medical Leave      F   23675  ...                  7

      policy_type        policy  renew_offer_type  sales_channel  \
0  Corporate Auto  Corporate L3            Offer3          Agent
1   Personal Auto   Personal L3            Offer4    Call Center
2   Personal Auto   Personal L3            Offer3    Call Center
3  Corporate Auto  Corporate L3            Offer2         Branch
4   Personal Auto   Personal L2            Offer1         Branch

   total_claim_amount  vehicle_class vehicle_size vehicle_type month
0          292.800000  Four-Door Car      Medsize            A     2
1          744.924331  Four-Door Car      Medsize            A     1
2          480.000000            SUV      Medsize            A     2
3          484.013411  Four-Door Car      Medsize            A     1
4          707.925645  Four-Door Car      Medsize            A     1

[5 rows x 26 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [35]:
# Create a pivot table to summarize the total revenue for each sales channel
pivot_table_totalrevenue = df_clean.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
)

# Round the total revenue to 2 decimal points
pivot_table_totalrevenue = pivot_table_totalrevenue.round(2)

# Sort the pivot table by total revenue in descending order
pivot_table_totalrevenue = pivot_table_totalrevenue.sort_values(by='total_claim_amount', ascending=False)

# Print the pivot table
print(pivot_table_totalrevenue)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [37]:
# Create a pivot table to summarize the average customer lifetime value per gender and education level
pivot_table_averagelifetime = df_clean.pivot_table(
    index=['gender', 'education'],
    values='customer_lifetime_value',
    aggfunc='mean'
)

# Round the average customer lifetime value to 2 decimal points
pivot_table_averagelifetime = pivot_table_averagelifetime.round(2)

# Sort the pivot table by average customer lifetime value in descending order
pivot_table_averagelifetime = pivot_table_averagelifetime.sort_values(by='customer_lifetime_value', ascending=False)

# Print the pivot table
print(pivot_table_averagelifetime)

                             customer_lifetime_value
gender education
F      High School or Below                  8675.22
M      Master                                8168.83
F      Master                                8157.05
M      High School or Below                  8149.69
       College                               8052.46
F      Bachelor                              7874.27
       College                               7748.82
M      Bachelor                              7703.60
       Doctor                                7415.33
F      Doctor                                7328.51

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [36]:
df_clean.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [42]:
df_clean.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [43]:
# Your code goes here

# Group by policy type and month, counting the number of complaints
complaints_summary = df_clean.groupby(['policy_type', 'month']).size().reset_index(name='complaint_count')

# Print the summary table
print(complaints_summary)

      policy_type  month  complaint_count
0  Corporate Auto      1             1252
1  Corporate Auto      2             1089
2   Personal Auto      1             4329
3   Personal Auto      2             3799
4    Special Auto      1              237
5    Special Auto      2              204